@import "tailwindcss";


.bubble {
  position: absolute;
  border-radius: 9999px;
  filter: blur(6px);
  opacity: 0.6;
  animation: float 12s infinite ease-in-out;
}

.bubble:nth-child(1) { top: 10%; left: 5%; animation-duration: 13s; }
.bubble:nth-child(2) { top: 60%; left: 15%; animation-duration: 9s; }
.bubble:nth-child(3) { top: 20%; right: 10%; animation-duration: 14s; }
.bubble:nth-child(4) { bottom: 5%; right: 25%; animation-duration: 11s; }

@keyframes float {
  0%, 100% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-30px) translateX(20px); }
}
